




header {
  border: solid 5px color #999;
  height: 100px;
  width 100%;
  background-color: coral;
  position: relative;
  margin:0;
}


.forside {
  margin: 0;
}


nav a{
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  margin-top: 0;
}

#navbar{
  background-color: #999
}



header h1 {
  margin:0;
  position: absolute;
  left: 50px;
  top: 30px;
  background-color: coral
}

section {
  border: solid white;
  padding: 0;
  background-image:url('../images/gif1.gif');
  height: 400px;
  width: 70%;
  background-position: center;
  float: left;
  box-sizing: border-box;


}

#main-header{
  font-size: 50px;
  color: white;
  position: relative;
  left: 40px;
  top: 0px;
}

#sidebar{
  float: right;
}

aside {
  border: solid red;
  box-sizing: border-box;
  width: 30%;
  float: right;
  height: 400px;
}

section img{
  width: 100%
}


.clr {
  clear: both;
}




footer{
  background-color: #fff;
  display: block;
  text-align: center;
}
