.side {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: 550px;
  height: 2600px;
}
.nyheter {
  margin: auto;
}
.liste{
  margin-top: 20px;
  border: solid 5px black;
  width: 270px;
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 0/3
}
.liste li {
  margin-top: 14px;
}
.lister a {
  color: darkblue;
  text-decoration: none;
}
.lister {
  margin-top: 50px;
}
main {
  margin-left: 30px;
}
.side .nyheter p {
  font-size: 20px;
  width: 600px;
}
.nyhet {
  margin-top: 70px;
}
.nyhet a {
  font-size: 15px;
}
#nyheter {
  padding-top: 150px;
}

/*Gå til Nyheter Knapp*/

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #070707;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

section h1 {
  text-align: center;
}

.nyheter h1 {
  text-align: center;
}

/*slideshow*/

#slideshow {
  overflow: hidden;
  height: 450px;
  width: 728px;
  margin: 50px 0px 50px 20px;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 450px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image: url("../bilder/filmer/fantastic.jpg");
  background-position: center;
}

.slide:nth-child(2) {
  background-image: url("../bilder/filmer/creedII.jpg");
  background-position: center;
}

.slide:nth-child(3) {
  background-image: url("../bilder/filmer/bohemianr.png");
  background-position: center;
}

.slide:nth-child(4) {
  background-image: url("../bilder/filmer/incredibles.jpg");
  background-position: center;
}

.slide-number {
  color: white;
  text-align:;
  font-size: 20px;
}

.slide-wrapper .en {
  color: black;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
