.kategorier-grid {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 284px;
  grid-gap: 20px;
  grid-row-gap: 20px;
  margin: 10px;
  margin-left: 40px;
}
.kategorier-grid img {
  position: static;
}
.kategorier-grid a p {
  position: relative;
  top: 142px;
  left: 52px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  opacity: 0.3;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.kategori a {
  text-decoration: none;
}
.science_fiction a p {
  /*Ganske mange flere bokstaver enn de andre kategoriene*/
  left: 15px;
}
.kategorier-grid div:hover {
  opacity: 0.1;
}
.kategorier-grid div:hover {
  opacity: 0.8;
}
.kategori {

}
/*bilder*/
.action {
  background-image: url("../bilder/kategorier/action1.jpg");
}
.drama {
  background-image: url("../bilder/kategorier/drama1.jpg");
}
.eventyr {
  background-image: url("../bilder/kategorier/eventyr1.jpg");
}
.science_fiction {
  background-image: url("../bilder/kategorier/scifi1.jpg");
}
