/*Global CSS*/
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  max-width: 1200px;
  margin: auto;
}
.navbar {
  overflow: hidden;
}
.navbar li {
  padding-right: 100px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  color: #9c9a9a;
}
.navbar ul li input {
  border: none;
  font-size: 15px;
}
#logo {
  float: left;
  margin-left: 10px;
  margin-top: 13px;
}
.navbar ul li {
  display: inline;
  float:right;
  margin-top: 30px;
}
.navbar li a:hover {
  color: orange;
}
header {
height: 100px;
background-image: linear-gradient(to bottom right, #070707, #413e3d);
border: solid #1e1d1d 5px;
top: 0;
}
main {

}
