/*Global CSS*/
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  max-width: 100%;
}
.navbar {
}
.navbar li {
  padding-right: 100px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  color: #9c9a9a;
}
.navbar ul li input {
  border: none;
  font-size: 15px;
}
#logo {
  float: left;
  margin-left: 10px;
  margin-top: 0px;
}
.navbar ul li {
  display: inline;
  float:right;
  margin-top: 30px;
}
.navbar li a:hover {
  color: orange;
}
header {
min-height: 100px;
background-image: linear-gradient(to bottom right, #070707, #413e3d);
border: solid #1e1d1d 5px;
top: 0;
}
#myInput {
  background-image: url("../bilder/søk.png");
  background-repeat: no-repeat;
  background-position: 150px 3.8px;
}
