
/*Globalt*/
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-left: 30px;
}

.navbar  {
  display: grid;
  grid-template-columns: 100px 43px 70px 100px;
  grid-template-rows: 22px;
  grid-column-gap: 75px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;

}
.navbar li {
  list-style: none;
}
 header {
   padding-bottom: 50px;
  border-bottom: solid black 3px;
}
.serier a{
  text-decoration: none;
  color: black;
}


/*Sider i de forskjellige kanal-sidene*/

.serier_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}


/*Kanaler.html*/
.kanaler_grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}
.kanaler_grid img {
  height: 170px;
  width: 290px;
}
main .kanaler img:hover{
  opacity: 0.4;
}
main .kanaler img {
  transition: 0.2s;
}
