/*Serier_grid i kanal-sidene*/
.serier a{
  text-decoration: none;
  color: black;
}
.serier_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
  margin-left: 30px;
  grid-column-gap: 20px;
}
.serier_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}
.serier a{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.serier {
  background-color: lightgrey;
}

/*Knapper og Form for å sortere serier-grid*/
select {
  border: none;
  margin: 20px 0 20px 0;
  height: 30px;
  width: 100px;
  background-color:lightgrey;
}
.select {
  margin-left: 30px;
}
.select button {
  height: 30px;
  background-color: lightgrey;
  border-radius: 6px;
}

@media(max-width:850px){
  .serier_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
  .serier a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .serier{
    border-bottom: solid black 3px;
  }
}
/*Innhold i serie.html*/
.serie_wrap {
 box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px
 rgb(170, 166, 166),
 -12px 0 15px -4px
 rgb(170, 166, 166);
 width: 70%;
 margin: auto;
}
.serie_main h1 {
  background-color: #f4f4f4;
  margin-top:0;
}
.generert_serie p {
  margin-left: 5%;
}
.fav {
  width: 200px;
  margin-left: 5%;
}


/*Favoritt-Knapp*/
.onoffswitch {
    position: relative; width: 166px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Legg Til Favoritter";
    padding-left: 5px;
    background-color: #EEEEEE; color: #664747;
}
.onoffswitch-inner:after {
    content: "Lagt Til Favoritter";
    padding-right: 5px;
    background-color: #DED838; color: #664747;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 23px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 130px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
